/* start of rules */
:root{
    --primary-body-color:hsl(333, 29%, 33%);
    --primary-hv-color:#482138;
    --secondary-color:#765D67;
    --violer7amm9:#1B0C1A;
    --couleurberk:#2D222F;
    --byedviolter:#FADCD5;
    --Dark-grayish-blue: hsl(236, 13%, 42%);




    /* precedent color  */
    /* --primary-color:#B6A19E;
    --secondary-color:#6C648B;
    --bottumn-one-color:#FBA100;
    --bottumn-secondary-color:#6BBAA7; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
/* end of rules */
.bx-menu{
    display: none;
}
/* START OF NAV  */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    width: 230px;
    background:linear-gradient(#6A7B8C 10%  ,#F0F8FF 80%,gray ) ;
    height: 110%;
    top: 0;
    padding:3% ;
}
.box.principal{
    background-color: #C0C0C0 ;
    width: 200px;
    height: 120px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}
.box.principal div:nth-child(2) p{
    margin-left: 4px;
}
.box.principal div:last-child p{
    margin-top: 10px;
}
.box div{
    display: flex;
    
}
i {  
    color: black;
    width: 15px;
    font-size: 18px;
    margin: 4px;
}
.box.principal div:first-child{
    font-weight: 600;
    font-size: 20px;
    color: aliceblue;
    
}
.box.principal div:first-child i{
    font-size: 19px;
    margin-right: 10px;
}
.box.principal div:last-child i{
    margin-top: 12px;
    font-size: 21px;
    margin-right: 10px;
}.box.secondair{
    background-color: hsl(224, 30%, 40%);
    height: 100px;
    width: 170px;
    border-radius: 30px;
    padding: 7px 5px;
}
.box.secondair p {
    font-size: small;
    word-break: break-all;
    font-weight: 600;
    margin: 4px;
}


/* js part  */
@media (max-width:768px) {
    nav{
        left: -230px;
    }
    .bx-menu{
        display: block;
        position: absolute;
        left: -6px;
        top: 1px;
        font-size: 33px;
        z-index: 100;

    }
    .open{
        animation-name:openMenu ;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes openMenu {
        0%{
            left:-230px;
        }
        100%{
            left: 0;
        }
    }
    .close{
        animation-name:closeMenu ;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes closeMenu {
        0%{
            left: 0;
        }
        100%{
            left:-230px;
        }
    }
}
/* end of js part */
/* END OF NAV  */
/* header section */
header {
    height: 10%;
    width: calc(100% - 230px);
    margin-left: 230px;
    background-color: #C0C0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media (max-width:768px) {
    header{
        margin-left: 0;
        width: 100%;
    }
    .bx-menu{
        position: relative;
    }
    nav{
        z-index: -5;
    }
}
header img {
    width: 70px;
    color: #1B0C1A;
}
header h2 {
    color:hsl(224, 30%, 27%);;
}
ul {
    display: flex;
}
li{
    list-style: none;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
 }
 /* START OF SECTION PART  */
#section-principale{
    margin-left: 230px;
    padding: 10px 50px 50px 70px;
    background-image: url('/tools/background.jpg');
}
/* @media(max-width:768px){
    #section-principale{
        margin-left: 0;
    }
} */
#section-principale .container{
    display: flex;
    flex-direction: column;
}
#section-principale .decription-part{
    display: flex;align-items: center;justify-content:center;

    width: 100%;
    
}
/* ajusting the boxes */
.decription-part{
    display: flex;
    flex-direction: column;
}
/* start of description part */
.discrip-box {
    background-color: rgba(45, 34, 34, 0.3) ;
    height: 120px;
    border-radius: 30px;
    padding: 20px;
    color: var(--primary-hv-color);
    text-align: center;
    transition: 0.3s;
}
.discrip-box:hover{
    scale: 1.1;
    color: rgba(45, 34, 34, 0.7);
    background-color: rgba(220, 220, 220, 0.3);
}
#section-principale .discrip-box  h2{
    margin: 0;
}
/* end of discription part */
#section-principale   h2{
    font-size: 23px;
    color: hsl(224, 30%, 27%);
    margin: 10px 0;
}
/* start of formation part */
#section-principale .formation-part{
    display: flex;
    margin-top: 10px;
}
.formation-part .formation{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 500px;
}
.formation-part .formation article{
    border-radius: 30px;
    background-color: gainsboro;
    display: flex;
    transition: .3s;
    opacity: 1;
    margin-bottom: 10px;
}
.formation-part .formation article .photo{
    width: 300px;
    max-width: 34%;
}
.formation-part .formation article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius:15px ;
    border-bottom-left-radius: 15px;
}
.formation-part .formation article .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;
}
.formation-part .formation article .text p:first-child{
    font-size: 18px;
    font-weight: 800;
    color: #2D222F;
}
.formation-part .formation article .text p:nth-child(2){
    font-size: 14px;
    text-align: center;
}
.formation-part .formation article:hover{
    scale: 1.4;
    background-color: rgba(45, 34, 34, 0.5);
    border-radius: 30px;
    opacity: 1;
}
.formation-part .formation article:hover ~ article{
    opacity: 0.3;
}
.formation-part .formation article:not(:hover){
    opacity: 0.7;
}
button{
    border: 0;
    position: relative;
    bottom: -3%;
    width: 37%;
    left: 30%;
    height: 25%;
    border-radius: 3px;
    color: hsl(224, 30%, 40%);
    transition: 0.3s;
}
button:hover{
    background-color: hsl(224, 30%, 40%);
    color: gainsboro;
}
/* end of formation part */
/* start of aside part */
aside {
    position: absolute;
    background-color: rgba(45, 34, 34, 0.5);
    border-radius: 30px;
    width: 22%;
    height:330px ;
    right: 2%;
    padding: 4% 0;
    transition: 0.3s;
}
aside:hover{
    scale: 1.1;
    color: rgba(45, 34, 34, 0.5);
    background-color: rgba(220, 220, 220, 0.3);
}
aside .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@keyframes scroll {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.scroll-efect {
    position: absolute;
    animation: scroll 8s linear infinite;
    animation-timing-function: linear;
}
.scroll-efect p {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.scroll-efect p:nth-child(2){
    margin-bottom: 10px;
    color: hsl(224, 30%, 70%);
    font-size: 12px;
    font-weight: 400;
}
.scroll-efect p span{
    color: hsl(224, 30%, 40%);
}