/* start of rules */
:root{
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* scroll bar style  */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #C0C0C0;
}
::-webkit-scrollbar-thumb{
    background-color: #475885;
    height: 10px;
    border-radius: 20px;
}
html,body{
    height: 200vh;
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    background-image: url('../tools/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* end of rules */
.bx-menu{
    display: none;
}
/* START OF NAV  */
nav{
    position:absolute;
    width: 230px;
    background:linear-gradient(#6A7B8C 10%  ,#F0F8FF 80%,gray ) ;
    top: 0;
    padding:20px ;
    height: 200vh;
}
nav .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    position: fixed;
}
.box.principal{
    background-color: #C0C0C0 ;
    width: 200px;
    height: 120px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
color: #475885;
}
.box.principal div:nth-child(2) p{
    margin-left: 4px;
}
.box.principal div:last-child p{
    margin-top: 10px;
    
}
.box div{
    display: flex;
}
.box .name{
    color: #C0C0C0;
}
.box .eemail{
    color: white;
}
.box .eemail a{
    color: white;
}
.box i {  
    width: 15px;
    font-size: 18px;
    margin: 4px;
}
.box.principal div:first-child{
    font-weight: 600;
    font-size: 20px;
    color: aliceblue; 
}
.box.principal div:first-child i{
    font-size: 19px;
    margin-right: 10px;
}
.box.principal div:last-child i{
    margin-top: 12px;
    font-size: 21px;
    margin-right: 10px;
}.box.secondair{
    background-color: hsl(224, 30%, 40%);
    height: 100px;
    width: 170px;
    border-radius: 30px;
    padding: 7px 5px;
}
.box.secondair p {
    font-size: small;
    word-break: break-all;
    font-weight: 600;
    margin: 4px;
}
/* js part  */
@media (max-width:768px) {
    nav{
        left: -230px;
    }
    .bx-menu{
        display: block;
        position: absolute;
        left: -6px;
        top: 1px;
        font-size: 33px;
        z-index: 100;
    }
    .open{
        animation-name:openMenu ;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes openMenu {
        0%{
            left:-230px;
        }
        100%{
            left: 0;
        }
    }
    .close{
        animation-name:closeMenu ;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes closeMenu {
        0%{
            left: 0;
        }
        100%{
            left:-230px;
        }
    }
}
/* end of js part */
/* END OF NAV  */
/* header section */
header {
    height: 70px;
    width: calc(100% - 230px);
    margin-left: 230px;
    background-color: #C0C0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:768px) {
    header{
        margin-left: 0;
        width: 100%;
    }
    .bx-menu{
        position: relative;
    }
    nav{
        z-index: -5;
    }
}
header img {
    width: 70px;
    color: #1B0C1A;
}
header h2 {
    color:hsl(224, 30%, 27%);;
}
ul {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
li{
    list-style: none;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
 }
 /* START OF SECTION PART  */
#section-principale{
    margin-left: 230px;
    padding: 10px 50px 50px 50px; 
}
#section-principale .container{
    display: flex;
    flex-direction: column;
}
#section-principale .decription-part{
    display: flex;align-items: center;justify-content:center;
    width: 100%;
    
}
/* ajusting the boxes */
.decription-part{
    display: flex;
    flex-direction: column;
}
/* start of description part */
.discrip-box {
    height: 120px;
    border-radius: 30px;
    padding: 20px;
    color: var(--primary-hv-color);
    text-align: center;
    transition: 0.3s;
}
#section-principale .discrip-box  h2{
    margin: 0;
}
/* end of discription part */
#section-principale   h2{
    font-size: 23px;
    color: hsl(224, 30%, 27%);
    margin: 10px 0;
    text-align: center;
}
/* start of formation part */
#section-principale .formation-part{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.formation-part .formation{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 500px;
}
.formation-part .formation article{
    border-radius: 30px;
    background-color: gainsboro;
    display: flex;
    transition: .3s;
    opacity: 1;
    margin-bottom: 10px;
}
.formation-part .formation article .photo{
    width: 300px;
    max-width: 34%;
}
.formation-part .formation article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius:15px ;
    border-bottom-left-radius: 15px;
}
.formation-part .formation article .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;
}
.formation-part .formation article .text p:first-child{
    font-size: 18px;
    font-weight: 800;
    color: #2D222F;
}
.formation-part .formation article .text p:nth-child(2){
    font-size: 14px;
    text-align: center;
}
.formation-part .formation article:hover{
    scale: 1.2;
    background-color: rgba(45, 34, 34, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    opacity: 1;
}
.formation-part .formation article:hover:not(:hover){
    opacity: .3;
}
button{
    border: 0;
    position: relative;
    bottom: -3%;
    width: 37%;
    left: 30%;
    height: 25%;
    border-radius: 3px;
    color: hsl(224, 30%, 40%);
    transition: 0.3s;
}
button:hover{
    background-color: hsl(224, 30%, 40%);
    color: gainsboro;
}
/* end of formation part */
/* start of aside part */
aside {
   
    background-color: rgba(45, 34, 34, 0.5);
    border-radius: 30px;
    width: 300px;
    height:330px ;
    right: 2%;
    padding: 4% 0;
    transition: 0.3s;
    backdrop-filter: blur(10px);
}
aside:hover{
    scale: 1.1; 
}
aside .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes scroll {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
.scroll-efect {
    position: absolute;
    animation: scroll 8s linear infinite;
    animation-timing-function: linear;
}
.scroll-efect p {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.scroll-efect p:nth-child(2){
    margin-bottom: 10px;
    color: hsl(224, 30%, 70%);
    font-size: 12px;
    font-weight: 400;
}
.scroll-efect p span{
    color: hsl(224, 30%, 40%);
}
/* end of aside  */
/* END OF SECTION PRINCIPAL  */
/* START OF SECTION 2   comment part*/
#section2{
    box-shadow: -1px 5px 42px 0px rgba(102,102,102,0.75);
    margin-left: 230px;
    padding: 50px ;
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0403153e 66%, #000b35a7 68% 70%, #1817206f 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s), radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s), radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s), repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s), radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
    background-attachment: fixed;
    border-radius: 50px 50px 0 0 ;
}
#section2 .container{
    display: flex;
    justify-content: space-between;
}
#section2 .container .comments{
    display: flex;
    flex-direction: column;
}
#section2 .comments input[type="email"]{
    position: relative;
    width: 500px;
    padding: 7px 10px;
    outline: none;
    border: none;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 3px solid #475885;
    z-index: 5;
    color: #6d6d6d;
}
#section2 .comments input[type="email"]::placeholder{
    color: #C0C0C0;
}
#section2 .comments  div{
    position: relative;
    margin-bottom: 10px;
}
#section2 .comments  div span{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    height: 0;
    z-index: 3;
    border-radius: 7px;
    transition: all .3s;
}
#section2 .comments input[type="email"]:focus ~ span{
    border-radius: 7px;
    height: 100%;
}
#section2 .comments textarea{
    width: 500px;
    padding: 7px 10px;
    height: 360px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background-color: white;
    font-size: 20px;
    border-radius: 7px;
    color: #6d6d6d;
}
textarea::placeholder{
    font-style: italic;
}
#section2 .display-comments{
    
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 7px;
    overflow-x: auto;
}
.titre{    
    padding: 30px;
    border-radius: 7px 7px 0 0;
    background-color: #475885;
    text-align: center;
    color: white;
    font-size: 23px;
}
/* ::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #C0C0C0;
}
::-webkit-scrollbar-thumb{
    background-color: #475885;
    height: 10px;
    border-radius: 20px;
} */
#section2 .display-comments::-webkit-scrollbar-track{
    background-color: #C0C0C0;
}
#section2 .display-comments::-webkit-scrollbar-thumb{
    
        background-color:  #191b22;
        height: 10px;
        border-radius: 20px;   
}
#section2 input[type="submit"]{
    padding: 20px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 7px;
    background-color: #475885;
}
/* END OF SECTION 2  */
/* START STYLE OF COMMENT  */
#section2 .comment-style{
    position: relative;
    padding: 10px 20px;
    background-color: #D3D3D3;
    border-radius: 20px;
    color: #000000	;
    font-size: 20px;
    margin: 10px;
}
#section2 .comment-style .email-part{
    color:  #475885;
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: 600;
}
#section2 .comment-style .comment-part{
    font-size: 17px;
    padding-left: 29px ;
    word-break: break-all;
}
.bx-user{
    color: #475885;
    margin-right: 10px; 
    border-radius: 7px;
}
.like-part{
    display: flex;
    justify-content: flex-end;
}
.like-part i{
margin:0 7px;
color: gray;
cursor: pointer;
}
.like-part span{
    margin-left: 2px;
    position: relative;
    bottom: 2px;
}
.likeEffect{
    animation: likeEffect .3s forwards;
}
@keyframes likeEffect {
    0%{
        color: gray;
    }
    100%{
        color: rgb(244, 48, 48);
    }
}
.rm-likeEffect{
    animation: rmlikeEffect .3s forwards;
}
@keyframes rmlikeEffect {
    0%{
        color: rgb(244, 48, 48);
    }
    100%{
        color: gray;
    }
}
/*  END STYLE OF COMMENT  */
@media (min-width:760px) AND (max-width:1150px) {
    #section-principale .container .formation-part{
        flex-wrap: wrap;
        justify-content: center;
    }
    .formation-part{
    }
    .formation-part aside{
        margin-top: 20px;
        width: 100%;
        backdrop-filter: blur(10px);
        
    }
    .formation-part aside .scroll-efect{
        font-size: 20px;
    }
    .formation-part .formation,.formation-part article{
        width: 100%;
    }
    .decription-part{
        margin-bottom: 50px;
    }
    .decription-part  h2{
        margin-top: 20px;
    }
    #section2{
    }
    #section2 .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: centers;
    }
    #section2 .container form{
        margin-bottom: 20px;
    }
}