/* start of rules */
:root{
    --primary-color:#B6A19E;
    --secondary-color:#6C648B;
    --bottumn-one-color:#FBA100;
    --bottumn-secondary-color:#6BBAA7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: "Montserrat", sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
/* end of rules */
.bx-menu{
    display: none;
}
nav{
    position: absolute;
    width: 230px;
    background-color: #E5E5E5 ;
    height: 100%;
    top: 0;
    padding:3% ;
}
.box {
    padding: 10px 0;
    
}
.box.principal{
    background-color: #6C648B ;
    margin-bottom: 50px;
    margin-top:50px ;
    height: 120px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}
.box.principal div:nth-child(2) p{
    margin-left: 4px;
}
.box.principal div:last-child p{
    margin-top: 10px;
}
.box div{
    display: flex;

}
i {  
    color: black;
    width: 15px;
    font-size: 18px;
    margin: 4px;
}
.box.principal div:first-child{
    font-weight: 600;
    font-size: 20px;
    color: aliceblue;

}
.box.principal div:first-child i{
    margin-top: 5px;
    font-size: 19px;
    margin-right: 10px;
}
.box.principal div:last-child i{
    margin-top: 12px;
    font-size: 21px;
    margin-right: 10px;
}
.box.secondair p {
    font-size: small;
    word-break: break-all;
    font-weight: 600;
    margin: 4px;
}
.box.secondair{
    background-color: #B6A19E;
    margin-bottom: 50px;
    height: 100px;
    border-radius: 30px;
    padding: 20px 5px;
}
@media (max-width:768px) {
    nav{
        left: -230px;
    }
    .bx-menu{
        display: block;
        position: absolute;
        left: -6px;
        top: 1px;
        font-size: 33px;
        z-index: 100;

    }
    .open{
        animation-name:openMenu ;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes openMenu {
        0%{
            left:-230px;
        }
        100%{
            left: 0;
        }
    }
    .close{
        animation-name:closeMenu ;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    @keyframes closeMenu {
        0%{
            left: 0;
        }
        100%{
            left:-230px;
        }
    }
}
/* header section */
header {
    height: 10%;
    width: calc(100% - 230px);
    margin-left: 230px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media (max-width:768px) {
    header{
        margin-left: 0;
        width: 100%;
    }
    .bx-menu{
        position: relative;
    }
    nav{
        z-index: -5;
    }
}
header img {
    width: 70px;
}
header h2 {
    color: var(--secondary-color);
}
ul {
    display: flex;
}
li{
    list-style: none;
    margin-right: 10px;
}